@charset "UTF-8";


* {
 margin: 0px;
 padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header {
    background-color: lightslategray;
}
header > h1 {
    text-align: center;
}
menu ul {
    list-style: none;
    background-color: rgb(41, 40, 40);
}
menu li {
    display: inline-block;
    padding: 10px;
    background-color: darkgrey;
    color: aliceblue;
}
article {
    width: 600px; 
    margin: auto;
    display: block;
}